header h1{
  font-size: 80px;
  text-align: center;
}

#filter {
  font-size: 25px;
  margin-left: 60px;
  margin-top: 25px;
  float:left;
}
#filter select {
  font-size: 25px;
}

#gallery {
  display: flex;
  flex-wrap: wrap;
  box-shadow: 10px 10px 8px 10px #888888;

}
.photos {
  width:250px;
  height: 400px;
  display:flex;
  flex-wrap: wrap;
  justify-content:center;
}
.photos > * {
  display: flex;
  align-self: flex-end;
  justify-content:center;
}
.photos img {
  transition: transform .5s ease;
}
.photos:hover img{
  transform: scale(2);
}
.photos p {
  font-size: medium;
  padding: 10px;
}
.photos h2 {
  font-size: x-large;
  font-family: 'Nova Cut', cursive;
  padding: 10px;

}

#sortBy {
float:right;
font-size: 25px;
margin-top: 25px;
margin-right: 60px;
}
#sortBy select {
  font-size: 25px;
}

#button {
  margin-bottom: 50px;
  text-align: right;
  clear:both;
  margin-top: 30px;

}

