header h1{
  font-size: 80px;
  text-align: center;
}

#selection {
  font-size: 25px;
  margin-left: 60px;
  margin-top: 25px;
}


.photos {
  float: left;
  width:250px;
  height: 400px;
}
.photos p {
  font-size: medium;
  padding: 10px;
}
.photos h2 {
  font-size: x-large;
  font-family: 'Nova Cut', cursive;
  padding: 10px;

}

#sort {
  float: right;
  font-size: 25px;
  margin-top: 25px;
  margin-right: 60px;
}
